/HoudiniEngineForUnityExamples/Assets/unity_houdini.env
/HoudiniEngineForUnityExamples/Assets/unity_houdini.env.meta
/Houdini/CommonAssets/backup
/Houdini/CommonAssets/backup/*
/HoudiniEngineForUnityExamples/Assets/HoudiniEngineAssetCache/Working
/HoudiniEngineForUnityExamples/Assets/HoudiniEngineAssetCache/Working.meta
/HoudiniEngineForUnityExamples/heu_session.txt
/HoudiniEngineForUnityExamples/heu_settings.ini
/HoudiniEngineForUnityExamples/Assets/Houdini/backup*
/HoudiniEngineForUnityExamples/Assets/Houdini/backup.meta

